<div class="form">
  <div class="login">
    <h1>{{pageTitle}}</h1>
    <p>Please Enter Details Here:</p>
    <form action="/users/login" method="POST" class="login-form" id="login-form">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div>
        <label for="email">
          <input type="text" name="email" placeholder="Email Address" value="{{user.email}}" id="email">
        </label>
        <p id="eerror" class="error hidden"></p>
      </div>
      <div>
        <label for="password">
          <input type="password" name="password" placeholder="Password" value="{{user.password}}" id="password">
        </label>
        <p id="perror" class="error hidden"></p>
      </div>
      <div id="error_div" class="error"> </div>
      <input type="submit" id="submit-button">
      <div id="login-error" class="error hidden"></div>
    </form>
    <script src="/public/js/log_in.js"></script>
  </div>
</div>